var path = require('path');

module.exports = {
  cookieSecret: "lolwut",
  audience: "localhost",
  browserid: "https://browserid.org:443/verify",
  wwwDir: path.join(__dirname, 'www'),
  port: 8010,
  hostname: "localhost"
};
