var path = require('path');

module.exports = {
  cookieSecret: "lolwut",
  hostname: "localhost",
  browserid: "https://browserid.org:443/verify",
  wwwDir: path.join(__dirname, 'www'),
  port: 8010
};
